In [1]:
#Importamos las librerias necesarias
import pandas as pd

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [3]:
#creamos las variables necesarias
genere_list = ['Action', 'Comedy','Drama']

In [4]:
#Leemos los 3 csv existentes de los tres géneros y os guardamos en tres variables
genere = genere_list[0]
df_action = pd.read_csv(f'https://raw.githubusercontent.com/fernandaMarti/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/main/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[1]
df_comedy = pd.read_csv(f'https://raw.githubusercontent.com/fernandaMarti/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/main/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[2]
df_drama = pd.read_csv(f'https://raw.githubusercontent.com/fernandaMarti/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/main/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

In [5]:
#Juntamos los 3 DF en uno
frames = [df_action,df_comedy,df_drama]
df_fase1 = pd.concat(frames, ignore_index=True)

#nos aseguramos que elnombre de las columnas es el correcto
df_fase1.columns = ['tipo_pelicula', 'titulo_pelicula', 'anno_estreno', 'mes_estreno', 'id_pelicula','genero_pelicula']

In [29]:
#Obtenemos la informacion general del DataFrame
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441386 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    441386 non-null  object
 1   titulo_pelicula  441386 non-null  object
 2   anno_estreno     441386 non-null  int64
 3   mes_estreno      441386 non-null  object
 4   id_pelicula      441386 non-null  object
 5   genero_pelicula  441386 non-null  object
dtypes: int64(1), object(5)
memory usage: 23.6+ MB

In [30]:
#Eliminamos los duplicados
df_fase1.drop_duplicates(subset='id_pelicula', inplace=True)

#Reemplazamos los 'NaN' por 'N/A'
df_fase1.fillna('N/A', inplace=True)

#Reemplazamos en 'mes_estreno' los 'por estrenar' por 'N/A'
df_fase1.loc[df_fase1['mes_estreno']=='por estrenar','mes_estreno']='N/A'

In [39]:
#mostramos 10 películas random
df_fase1.sample(10)

,tipo_pelicula,titulo_pelicula,anno_estreno,mes_estreno,id_pelicula,genero_pelicula
239176,Movie,Can Ya' Hear Me Now?,2012,12,tt3095498,Drama
86286,Short,Mean Gurlz,2013,5,tt3315952,Comedy
59509,Short,Contexting,2011,N/A,tt1954346,Comedy
413913,Short,Bigg-F Project - Journey Through Life,2019,2,tt11903036,Drama
351728,Movie,Veras Mantel,2017,2,tt5113868,Drama
35438,Movie,Cyborg Invasion,2019,7,tt7990512,Action
252966,Short,Quickly,2012,N/A,tt3559126,Drama
73195,Short,Squash & Love,2012,6,tt2489276,Comedy
266530,Short,Leveled,2013,6,tt2981700,Drama
451618,Short,One Afternoon,2021,N/A,tt14734326,Drama

In [31]:
#Volvemos a ver la informacion general del DataFrame
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441386 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    441386 non-null  object
 1   titulo_pelicula  441386 non-null  object
 2   anno_estreno     441386 non-null  int64
 3   mes_estreno      441386 non-null  object
 4   id_pelicula      441386 non-null  object
 5   genero_pelicula  441386 non-null  object
dtypes: int64(1), object(5)
memory usage: 23.6+ MB

In [32]:
# Vemos estadística de la infomacion
df_fase1.describe(include='object').T

                  count  unique         top    freq
tipo_pelicula    441386       2       Short  324457
titulo_pelicula  441386  340652        Home     203
mes_estreno      441386      13         N/A  108092
id_pelicula      441386  441386  tt10225380       1
genero_pelicula  441386       3       Drama  253714

In [44]:
#Nos aseguramos que no hay duplicados
df_fase1.duplicated().sum()

0

In [8]:
#Guardamos el DF en formato csv
save_path = f'https://raw.githubusercontent.com/fernandaMarti/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/main/Fase1_csv/Fase1_2010_to_2024_all_generes.csv'
df_fase1.to_csv(save_path, index=False)

In [12]:
#Extraemos 1000 películas random para que sea más viable trabajar con el DF en las siguientes fases
df_fase1_short = df_fase1.sample(1000)

In [10]:
df_fase1_short

,tipo_pelicula,titulo_pelicula,anno_estreno,mes_estreno,id_pelicula,genero_pelicula
125412,Short,Payday,2016,8,tt5931312,Comedy
327759,Movie,Planetarium,2016,11,tt4680196,Drama
68230,Short,5ºA Shortrooms,2012,N/A,tt11323842,Comedy
63486,Short,Ass Reflections,2011,5,tt2306445,Comedy
103645,Short,Porky's Boys,2014,11,tt9641578,Comedy
...,...,...,...,...,...,...
64088,Short,Happy Day,2011,por estrenar,tt2631102,Comedy
177487,Movie,Ammaa Ki Boli,2021,3,tt2211174,Comedy
170738,Short,Aluminum Gardenias,2020,5,tt12390832,Comedy
357808,Short,Tableau Vivant,2017,2,tt14344998,Drama
65935,Movie,The Magic of Belle Isle,2012,7,tt1839654,Comedy

In [14]:
#Guardamos el DF de las 1000 pelis en formato csv
save_path_short = f'https://raw.githubusercontent.com/fernandaMarti/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/main/Fase1.csv'
df_fase1_short.to_csv(save_path_short, index=False)